:root {
  --default-translate-duration: 400ms;
  --translate-duration: 500ms;
  --animation-duration: 0ms;
  --animation-delay: var(--animation-duration);
  --left-translate: 0%;
}

html {
  box-sizing: border-box;
  background-color: rgb(43, 43, 43);
  color: white;
}
body {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 33px 33px;
}
.menu-wrapper .spaceship-container {
  height: 100px;
  display: flex;
}

.menu-wrapper .spaceship-container .spaceship-box {
  height: 100%;
  width: calc(100% / 5);
  background: url("./assets/navcat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: relative;
  left: var(--left-translate);
  transition: left var(--translate-duration);
  transition-timing-function: linear;
}
.menu-wrapper .spaceship-container .spaceship-box:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 50%,
    transparent
  );
  opacity: 1;
}

.menu-wrapper .spaceship-container .spaceship-box.animate:before {
  animation: FadeAnimation var(--animation-duration) ease-out 0ms 1 normal
      forwards,
    FadeAnimation var(--animation-duration) ease-in var(--animation-delay) 1
      reverse forwards;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);
  }
  100% {
    opacity: 0;
    clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
}

.menu-wrapper .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu-wrapper .nav-container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex: 1;
  border: 0;
  border-bottom: 2px solid orange;
  border-top: 0;
  background-color: rgba(255, 255, 255, 0.036);
  transition: background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out 0;
}
.menu-wrapper .nav-container .item:first-child {
  border-radius: 5px 0px 0px 50px;
}
.menu-wrapper .nav-container .item:last-child {
  border-radius: 0px 5px 50px 0px;
}
.menu-wrapper .nav-container .item:hover,
.menu-wrapper .nav-container .item.item-active {
  background-color: rgba(255, 255, 255, 0);
}
.menu-wrapper .nav-container .item.item-active {
  transition: border-color 0.25s ease-in-out var(--animation-delay);
  border-color: white;
}

.menu-wrapper .nav-container .item span {
  transition: all 0.25s ease-in-out 0;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.menu-wrapper .nav-container .item.item-active span {
  transition: all 0.25s ease-in-out var(--animation-delay);
  color: white;
}

@media only screen and (max-width: 780px) {
  body {
    width: 95%;
  }
  .menu-wrapper {
    border-radius: 0px 0px 33px 33px;
  }
  .menu-wrapper .spaceship-container {
    height: 70px;
  }
  .menu-wrapper .spaceship-container .spaceship-box:before {
    height: 130%;
  }
  .menu-wrapper .nav-container .item {
    height: 35px;
  }
}
@media only screen and (max-width: 425px) {
  .menu-wrapper .spaceship-container {
    height: 65px;
  }
}
